obj/SisbolApi.csproj.nuget.g.props
bin/Debug/netcoreapp2.2/SisbolApi.dll
bin/Debug/netcoreapp2.2/SisbolApi.pdb
bin/Debug/netcoreapp2.2/SisbolApi.deps.json
bin/Debug/netcoreapp2.2/SisbolApi.runtimeconfig.json
bin/Debug/netcoreapp2.2/SisbolApi.runtimeconfig.dev.json
obj/SisbolApi.csproj.nuget.cache
obj/SisbolApi.csproj.nuget.dgspec.json
obj/SisbolApi.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/SisbolApi.dll
obj/Debug/netcoreapp2.2/SisbolApi.pdb
obj/Debug/netcoreapp2.2/SisbolApi.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/SisbolApi.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/SisbolApi.RazorAssemblyInfo.cache
obj/Debug/netcoreapp2.2/SisbolApi.RazorAssemblyInfo.cs
obj/Debug/netcoreapp2.2/SisbolApi.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp2.2/SisbolApi.assets.cache
obj/Debug/netcoreapp2.2/SisbolApi.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/SisbolApi.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/SisbolApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/project.razor.json
.vscode/launch.json
.vscode/tasks.json
